{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FavIcon -->
    <link rel="shortcut icon" href="{% static 'image/favicon.png' %}" type="image/x-icon">
    <!-- REMIXIONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- swiper css -->
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}" />
    <title>Author</title>
</head>

<body>
    <!-- Header -->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="{% url 'index' %}" class="nav__logo">
                <i class="ri-book-marked-fill"></i>E-Book
            </a>
            <div class="nav__menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#home" class="nav__link">
                            <i class="ri-home-2-line"></i>
                            <span>Home</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#featured" class="nav__link">
                            <i class="ri-book-line"></i>
                            <span>Featured</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#discount" class="nav__link">
                            <i class="ri-price-tag-3-line"></i>
                            <span>Discount</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="{% url 'my_cart' %}" class="nav__link">
                            <i class="ri-shopping-cart-line"></i>
                            <span>My Cart</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="{% url 'favourites' %}" class="nav__link">
                            <i class="ri-heart-line"></i>
                            <span>Favorites</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="admin.html" class="nav__link">
                            <i class="ri-admin-line"></i>
                            <span>Admin DashBoard</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nav__actions">
                <!--search-->

                <i class="ri-search-line search-button" id="search-button"></i>

                <!--login button -->
                <a href="{% url 'login' %}" class="login-button">
                    <i class="ri-user-line" id="login-button"></i>
                </a>

                <!-- dark mode -->

                <i class="ri-moon-line change-theme" id="theme-button"></i>

            </div>
        </nav>

    </header>

    <!-- Search Form -->
    <div class="search" id="search-content">
        <form action="" class="search__form">
            <i class="ri-search-line search__icon"></i>
            <input type="search" placeholder="Search..." class="search__input" id="search-input">
        </form>
        <!-- <ul id="search-results" class="search__results"></ul> -->
        <i class="ri-close-line search__close" id="search-close"></i>
        <div class="search__results">
            {% for book in books %}
            <div class="search_card" onclick="window.location.href='{% url 'book_details' book.id %}'">
                <img src="{{ book.cover_image.url }}" alt="{{ book.title }}" class="search__img">
                <div class="search_card_text">
                    <h2 class="search__title">{{ book.title }}</h2>
                    <p class="search__author">by {{ book.author }}</p>
                    <p class="search__description">{{ book.description }}</p>
    
                    <div class="search__prices">
                        {% if book.discount_price %}
                        <span class="search__discount">${{ book.price }}</span>
                        <span class="search__price">${{ book.discount_price }}</span>
                        {% else %}
                        <span class="search__price">${{ book.price }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!--======================= MAIN =================-->
    <main class="main">
        <!--============================= Home ======================-->
        <section class="home section" id="home">
            <div class="home__container container grid">
                <div class="home__data">
                    <h1 class="home__title">
                        Welcome to Our Library <br> E-Books
                    </h1>
                    <p class="home__description">
                        Discover a world of knowledge and adventure with our extensive collection of e-books. From
                        bestsellers to hidden gems, we have something for every reader. Start your reading journey
                        today!
                    </p>
                    <a href="{% url 'newbooks' %}" class="button">Explore Now</a>
                </div>
                <!-- <div class="background">
                        <img src="assets/img/Background.png" alt="background" class="home__background">
                    </div> -->
                <div class="home__images">
                    <div class="home__swiper swiper">
                        <div class="swiper-wrapper">
                            <article class="home__article swiper-slide">
                                <img src="{% static 'image/home-book-1.png' %}" alt="image" class="home__img">
                            </article>
                            <article class="home__article swiper-slide">
                                <img src="{% static 'image/home-book-2.png' %}" alt="image" class="home__img">
                            </article>
                            <article class="home__article swiper-slide">
                                <img src="{% static 'image/home-book-3.png' %}" alt="image" class="home__img">
                            </article>
                            <article class="home__article swiper-slide">
                                <img src="{% static 'image/home-book-4.png' %}" alt="image" class="home__img">
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--===================== Services =================================-->
        <section class="services section">
            <div class="services__container container grid">
                <article class="services__card">
                    <i class="ri-truck-line"></i>
                    <h3 class="services__title">Free Shipping</h3>
                    <p class="services__description">Order More than $100</p>
                </article>

                <article class="services__card">
                    <i class="ri-lock-line"></i>
                    <h3 class="services__title">Secure payment</h3>
                    <p class="services__description">100% Secure Payment</p>
                </article>

                <article class="services__card">
                    <i class="ri-customer-service-2-line"></i>
                    <h3 class="services__title">24/7 Support</h3>
                    <p class="services__description">Call us anytime</p>
                </article>
            </div>
        </section>

        <!--======================= Featured =================-->
        <section class="featured section" id="featured">
            <h2 class="section__title">
                Featured Books
            </h2>
            <div class="featured__container container">
                <div class="featured__swiper swiper">
                    <div class="swiper-wrapper">
                        {% for book in books|slice:':5' %}
                        <article class="featured__card swiper-slide">
                            <img src="{{ book.cover_image.url }}" alt="{{ book.title }}" class="featured__img">
                            <h2 class="featured__title">{{ book.title }}</h2>
                            <div class="featured__prices">
                                {% if book.discount_price %}
                                <span class="featured__discount">${{ book.price }}</span>
                                <span class="featured__price">${{ book.discount_price }}</span>
                                {% else %}
                                <span class="featured__price">${{ book.price }}</span>
                                {% endif %}
                            </div>

                            <button class="button" onclick="addToCart({{ book.id }}, {id: {{ book.id }}, title: '{{ book.title|escapejs }}', price: '{{ book.discount_price|default:book.price }}', image: '{{ book.cover_image.url }}'})">Add To Cart</button>
                            <div class="featured__actions">
                                <button><i class="ri-search-2-line"></i></button>
                                <button class="favorite-button" onclick="toggleFavorite({{ book.id }}, this, {id: {{ book.id }}, title: '{{ book.title|escapejs }}', price: '{{ book.discount_price|default:book.price }}', image: '{{ book.cover_image.url }}'})">
                                    <i class="ri-poker-hearts-line favorite-icon"></i>
                                </button>
                                <button onclick="window.location.href='{% url 'book_details' book.id %}'">
                                    <i class="ri-eye-line"></i>
                                </button>
                            </div>
                        </article>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-prev">
                        <i class="ri-arrow-left-s-line"></i>
                    </div>
                    <div class="swiper-button-next">
                        <i class="ri-arrow-right-s-line"></i>
                    </div>
                </div>
            </div>
        </section>
        <!--======================= Discount =================-->
        <section class="discount section" id="discount">
            <div class="discount__container container grid">
                <div class="discount__data">
                    <h2 class="discount__title section__title">
                        Up To 50% Off
                    </h2>
                    <p class="discount__description">
                        Get ready for the biggest sale of the year! Enjoy up to 50% off on selected e-books. Don't miss
                        out on this limited-time offer. Shop now and save big on your favorite titles!
                    </p>
                    <br><br>
                    <a href="{% url 'newbooks' %}" class="button">Shop Now</a>
                </div>
                <div class="discount__images">
                    <img src="{% static 'image/discount-book-1.png' %}" alt="image" class="discount__img-1">
                    <img src="{% static 'image/discount-book-2.png' %}" alt="image" class="discount__img-2">
                </div>
            </div>
        </section>

    </main>
    <!--======================= FOOTER =================-->
    <footer class="footer">
        <div class="footer__container container grid">
            <div>
                <a href="#" class="footer__logo">
                    <i class="ri-book-3-line"></i>E-Book
                </a>
                <p class="footer__description">The best place to find your next read.</p>
            </div>

            <div>
                <h3 class="footer__title">About Us</h3>
                <ul class="footer__links">
                    <li><a href="#" class="footer__link">About Us</a></li>
                    <li><a href="#" class="footer__link">Contact</a></li>
                    <li><a href="#" class="footer__link">Privacy Policy</a></li>
                    <li><a href="#" class="footer__link">Terms of Service</a></li>
                </ul>
            </div>

            <div>
                <h3 class="footer__title">Library</h3>
                <ul class="footer__links">
                    <li><a href="#" class="footer__link">Blogs</a></li>
                    <li><a href="#" class="footer__link">Community</a></li>
                    <li><a href="#" class="footer__link">Our Team</a></li>
                    <li><a href="#" class="footer__link">Help Center</a></li>
                </ul>
            </div>

            <div>
                <h3 class="footer__title">Contact</h3>
                <ul class="footer__links">
                    <li>
                        <address class="footer__info">
                            Cairo, Egypt <br>
                            Nassr City <br>
                            1234567890 <br>
                        </address>
                    </li>
                    <li>
                        <address class="footer__info">
                            ebook@gmail.com <br>
                            +20 1234567890 <br>
                        </address>
                    </li>
                </ul>
            </div>

            <div>
                <h3 class="footer__title">Social</h3>
                <div class="footer__social">
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                        <i class="ri-facebook-fill"></i>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                        <i class="ri-instagram-fill"></i>
                    </a>
                    <a href="https://twitter.com/explore" target="_blank" class="footer__social-link">
                        <i class="ri-twitter-fill"></i>
                    </a>
                </div>
            </div>
        </div>

        <span class="footer__copy">
            All rights reserved &copy; 2023 <a href="{% url 'index' %}" class="footer__link">E-Book</a>.
        </span>
    </footer>
    <!--======================= SCROLL UP =================-->
    <!-- ScrollReveal-->
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>

    <!-- Swiper JS -->
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Search JS -->
    <script src="{% static 'js/search.js' %}"></script>
</body>

</html>