{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'css/Login_Register.css' %}">
    <!-- <svg class="icon-lock"  xmlns="http://www.w3.org/2000/svg">
        <path d="M12 17a2 2 0 100-4 2 2 0 000 4zm6-8h-1V7a5 5 0 00-10 0v2H6a2 2 0 00-2 2v9a2 2 0 002 2h12a2 2 0 002-2v-9a2 2 0 00-2-2zM9 7a3 3 0 016 0v2H9V7z" fill="currentColor"/>
    </svg> -->

</head>
<body>
    <div id = "container" style="width: auto;">

        <div id="imageContainer">
            <img src="{% static 'image/AccessPassword.svg' %}" alt="">
        </div>

        <div id="formContainer" style="font-size: large;" >
        <!-- <div>
            <img id = "imageTopCenter" src="Icons/AccessPassword.svg" alt="">
        </div> -->
        <h1>Change Password</h1>
        
        <p>
            To change your password, please fill the fields below.
            Your password must contain at least 8 characters, it should also include at least one upper case letter ,
            one lower case letter, one number , and one special character.
        </p>
        
        <!-- <input type="password" placeholder="Current Password" class="input-with-icon" required> -->
        <form method="post">
            {% csrf_token %}
            <input type="password" name="new_password1" placeholder="New Password" class="input-with-icon input-status-update" required>
            <input type="password" name="new_password2" placeholder="Confirm New Password" class="input-with-icon input-status-confirm" required>
            <div class = "status-bar-container">
                <div class = "status-bar"></div>
            </div>
            <div class = "status-text">  </div>
            <button type="submit" id="loginButton" style="width: 100%; display: flex; justify-content: center;">
                Change Password
            </button>
        </form>
        </div>
        
    </div>
</body>
<script src="{% static 'js/Create_Password.js' %}"></script>
</html>


